.product-list-heading {
  font-family: 'Roboto';
  font-size: 40px;
}
.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 1110px;
}
.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.link-item {
  text-decoration: none;
}
.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.product-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.product-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.product-text {
  text-align: start;
  margin-left: 20px;
}
.title {
  font-family: 'Roboto';
  color: #161717;
  font-size: 30px;
}
.span {
  font-weight: 600;
}
.discount {
  font-family: 'Roboto';
  color: #161717;
  font-size: 20px;
}
.primedeals-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.products-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .products-error-view-container {
    margin-top: 0px;
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
  }
}
.products-failure-img {
  width: 250px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .products-failure-img {
    width: 400px;
    height: 350px;
  }
}

.product-failure-heading-text {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .product-failure-heading-text {
    font-size: 24px;
  }
}

.products-failure-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .products-failure-description {
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}

@media screen and (max-width: 576px) {
  .products-container {
    max-width: 600px;
  }
  .product-list-heading {
    font-size: 24px;
  }
  .product-image {
    width: 120px;
  }
  .title {
    font-size: 18px;
  }
  .discount {
    font-size: 17px;
  }
}
